@page "{id}"
@using LetsGoPark.WebSite.Services
@inject JsonFileParksService ParksService
@model LetsGoPark.WebSite.Pages.ReadParkModel
@{
    ViewData["Title"] = "Read page";

    /// <summary>
    /// Validates the image url of a park.
    /// </summary>
    /// <param name="imageUrl">The passed in image url of a park.</param>
    /// <returns>Default image url if the passed in image url is invalid, otherwise return the passed in url.</returns>
    string GetImageUrl(string imageUrl)
    {
        string defaultImageUrl = "/data/defaultPark.jpg";

        // Check if the image URL is valid or null
        if (string.IsNullOrWhiteSpace(imageUrl) || !Uri.IsWellFormedUriString(imageUrl, UriKind.Absolute))
        {
            // If invalid or null, return the image URL to the default image
            return defaultImageUrl;
        }
        return imageUrl;
    }

    /// <summary>
    /// Calculate the average rating of a park.
    /// </summary>
    /// <returns> The string representing of average rating of current park. 
    string GetParkRating()
    {
        if (Model.Park.Ratings == null)
        {
            return "No ratings avaliable";
        }

        // Calculates the average rating
        float ratingSum = Model.Park.Ratings.Sum();
        float ratingCount = Model.Park.Ratings.Count();
        float avgRating = ratingSum / ratingCount;
        return avgRating.ToString("0.00");
    }
}
<div class="homepageformat">
  <h5 class="title, txt-color" id="parkTitle">@Model.Park.Id</h5>
  <img class="card-visible" src='@GetImageUrl(Model.Park.Image)' alt='Image for @Model.Park.Id'>
</div>

<table class="readpageformat table-style">
    <!--Links brochure of selected park-->
  <tr>
    <td><strong>Park Brochure:</strong></td>
    <td><a href="@Model.Park.Map_brochure">Park Brochure</a></td>
  </tr>
    <!--Loads Address of selected park-->
  <tr>
    <td><strong>Address:</strong></td>
    <td>@Model.Park.Address</td>
  </tr>
    <!--Loads Phone number of selected park-->
  <tr>
    <td><strong>Phone #:</strong></td>
    <td>@Model.Park.Phone</td>
  </tr>
    <!--Loads park owner of selected park-->
  <tr>
    <td><strong>Park System:</strong></td>
    <td>@Model.Park.Park_system</td>
  </tr>
    <!--Loads permits and fees of selected park-->
  <tr>
    <td><strong>Permits and Fees:</strong></td>
    <td>@Model.Park.Permits</td>
  </tr>
    <!--Loads Activities array of selected parks-->
  <tr>
    <td><strong>Activities:</strong></td>
    <td>@Model.Park.Activities</td>
  </tr>
    <!--Loads average rating of selected park-->
  <tr>
    <td><strong>Park rating:</strong></td>
    <td>@GetParkRating()</td>
  </tr>
    <!--Loads Description of selected park-->
  <tr>
    <td><strong>Park description:</strong></td>
    <td>@Model.Park.Description</td>
  </tr>
    <!--Loads Comments of selected park-->
    @if (@Model.Park.Comments != null)
    {
        <tr>
            <td><strong>Comments:</strong></td>
            <td>
            @foreach (string[] comment in Model.Park.Comments)
            {
                <!--comment record structure: [User, Time, Comment, Token]-->
                <div>
                        <p><strong>@comment[0] - @comment[1]: </strong>@comment[2]</p>
                </div>
                <div>
                    <!--Link to updateComment page-->
                    <a href="/UpdateComment?commentIndex=@Array.IndexOf(Model.Park.Comments, comment)&selectedParkId=@Model.Park.Id&name=@comment[0]
                    &dateTime=@comment[1]&description=@comment[2]&token=@comment[3]">
                        <u>Update Comment</u>
                    </a>
                    <!--Link to DeleteComment page-->
                    <a href="/DeleteComment?commentIndex=@Array.IndexOf(Model.Park.Comments, comment)&selectedParkId=@Model.Park.Id&name=@comment[0]
                    &dateTime=@comment[1]&description=@comment[2]&token=@comment[3]">
                        <u>Delete Comment</u>
                    </a>
                </div>
                <br />
            }
            </td>
        </tr>
    }
  }
</table>
<br>

<div class="row">
  <a asp-page="UpdatePark" asp-route-id="@Model.Park.Id" class="btn btn-primary">Update Park</a>
    <a asp-page="DeletePark" asp-route-id="@Model.Park.Id" class="btn btn-danger">Delete Park</a>
</div>
