@page "{id}"
@using LetsGoPark.WebSite.Services
@inject JsonFileParksService ParksService
@model LetsGoPark.WebSite.Pages.ReadParkModel
@{
    ViewData["Title"] = "Read page";

    /// <summary>
    /// Validates the image url of a park.
    /// </summary>
    /// <param name="imageUrl">The passed in image url of a park.</param>
    /// <returns>Default image url if the passed in image url is invalid, otherwise return the passed in url.</returns>
    string GetImageUrl(string imageUrl)
    {
        string defaultImageUrl = "/data/defaultPark.jpg";

        // Check if the image URL is valid or null
        if (string.IsNullOrWhiteSpace(imageUrl) || !Uri.IsWellFormedUriString(imageUrl, UriKind.Absolute))
        {
            // If invalid or null, return the image URL to the default image
            return defaultImageUrl;
        }
        return imageUrl;
    }

    /// <summary>
    /// Calculate the average rating of a park.
    /// </summary>
    /// <returns> The string representing of average rating of current park. 
    string GetParkRating()
    {
        if (Model.Park.Ratings == null)
        {
            return "No ratings avaliable";
        }

        // Calculates the average rating
        float ratingSum = Model.Park.Ratings.Sum();
        float ratingCount = Model.Park.Ratings.Count();
        float avgRating = ratingSum / ratingCount;
        return avgRating.ToString("0.00");
    }
}
<div class="homepageformat" >
    <h5 class="title, txt-color" id="parkTitle">@Model.Park.Id</h5>

    <img class="card-visible" src='@GetImageUrl(Model.Park.Image)' alt='Image for @Model.Park.Id'>


</div>
<p class=" readpageformat">
    <!--Links brochure of selected park-->
    <a href=@Model.Park.Map_brochure><strong>Park Brochure</strong></a> <br>
    <!--Loads Address of selected park-->
    <strong>Address: </strong> @Model.Park.Address <br>
    <!--Loads Phone number of selected park-->
    <strong>Phone #: </strong> @Model.Park.Phone <br>
    <!--Loads park owner of selected park-->
    <strong>Park System: </strong>@Model.Park.Park_system <br>
    <!--Loads permits and fees of selected park-->
    <strong>Permits and Fees: </strong>@Model.Park.Permits <br>
    <!--Loads Activities array of selected parks-->
    <strong>Activities: </strong>@Model.Park.Activities <br>
    <!--Loads average rating of selected park-->
    <strong>Park rating:</strong> @GetParkRating() <br>
    <!--Loads Description of selected park-->
    <strong>Park description:</strong> <br> @Model.Park.Description <br><br>
    <!--Loads Comments of selected park-->
    <strong>Comments: </strong> <br>
    @if (@Model.Park.Comments == null)
    {
        <span>Be the first to comment!</span>
        <br>
    }
    else
    {
        @foreach (string[] comment in Model.Park.Comments)
        {
            <!--comment record structure: [User, Time, Comment, Token]-->
            <div>
                <div class="readpageformat">
                    <em>@comment[0] </em>- @comment[1]: 
                </div>
                <div class="readpageformat">
                    <p>&nbsp;&nbsp;@comment[2]</p>
                </div>
            </div>
            <!--Link to updateComment page-->
            <a href="/UpdateComment?commentIndex=@Array.IndexOf(Model.Park.Comments, comment) &selectedParkId=@Model.Park.Id &name=@comment[0]
                &dateTime=@comment[1] &description=@comment[2] &token=@comment[3]">
                <u>Update Comment</u></a><br />

            <!--Link to DeleteComment page-->
            <a href="/DeleteComment?commentIndex=@Array.IndexOf(Model.Park.Comments, comment) &selectedParkId=@Model.Park.Id &name=@comment[0]
                &dateTime=@comment[1] &description=@comment[2] &token=@comment[3]">
                <u>Delete Comment</u>
            </a>
                                        
                                        
        }
        <br>
    }
</p>

<br />
<br />

<div class="row">
    <a asp-page="UpdatePark" asp-route-id="@Model.Park.Id" class="btn btn-primary">Update</a>
    <a asp-page="DeletePark" asp-route-id="@Model.Park.Id" class="btn btn-danger">Delete</a>
</div>
